/*
*
* Base16 {{ scheme-name }}
* Author: {{ scheme-author }}
*
*/

[ColorScheme]
active_colors=#ff{{base06-hex}}, #ff1d2021, #ff{{base04-hex}}, #ffa89984, #ff{{base01-hex}}, #ff{{base02-hex}}, #ff{{base06-hex}}, #ff{{base06-hex}}, #ff{{base06-hex}}, #ff{{base00-hex}}, #ff1d2021, #ff{{base02-hex}}, #ff458588, #ff{{base00-hex}}, #ff458588, #ffcc241d, #ff{{base00-hex}}, #ff{{base06-hex}}, #ff1d2021, #ff{{base06-hex}}, #ff{{base04-hex}}
disabled_colors=#ff{{base04-hex}}, #ff1d2021, #ff{{base04-hex}}, #ffa89984, #ff{{base01-hex}}, #ff{{base02-hex}}, #ff{{base04-hex}}, #ff{{base04-hex}}, #ff{{base04-hex}}, #ff{{base00-hex}}, #ff1d2021, #ff{{base02-hex}}, #ff438184, #ff{{base01-hex}}, #ff458588, #ffcc241d, #ff{{base00-hex}}, #ff{{base06-hex}}, #ff1d2021, #ff{{base06-hex}}, #ff{{base04-hex}}
inactive_colors=#ff{{base06-hex}}, #ff1d2021, #ff{{base04-hex}}, #ffa89984, #ff{{base01-hex}}, #ff{{base02-hex}}, #ff{{base06-hex}}, #ff{{base06-hex}}, #ff{{base06-hex}}, #ff{{base00-hex}}, #ff1d2021, #ff{{base02-hex}}, #ff438184, #ffa89984, #ff458588, #ffcc241d, #ff{{base00-hex}}, #ff{{base06-hex}}, #ff1d2021, #ff{{base06-hex}}, #ff{{base04-hex}}
