@import "../../.cache/wal/colors-waybar.css";

* {
  border: none;
  font-family: "Ubuntu Nerd Font", sans-serif;
  font-size: 16px;
}

button {
  /* Use box-shadow instead of border so the foreground isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0px;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Clock & Weather */
#clock {
  color: @foreground;
  background: @background;

  font-weight: bold;

  padding: 0px 10px;
  margin: 5px;
  border-radius: 15px;
}

#custom-weather {
  padding-right: 16px;
  border-radius: 0px 10px 10px 0px;
  transition: none;
  color: #ffffff;
  background: @background;
}

/* Window name */
#window {
  color: @foreground;
  background: @background;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}

#waybar.empty #window {
  /* Hide module if empty */
  background: none;

  font-size: 0;
  margin: 0;
  padding: 0;
}

/* Workspaces */
#workspaces {
  color: @foreground;
  background: @background;

  font-weight: bold;

  padding: 0px 1px;
  margin: 5px;
  border-radius: 15px;
}

#workspaces button {
  color: @foreground;
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;

  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @background;
  min-width: 40px;
  background: @accent;

  transition: all 0.3s ease-in-out;
}

#workspaces button.active:hover {
  color: @foreground;
  background: shade(@accent, 0.7);
}

#workspaces button:hover {
  background: shade(@accent, 0.7);
}

/* Media Player */
#mpris {
  color: @foreground;
  background: @background;

  font-weight: bold;

  padding: 0px 1px;
  margin: 5px;
  border-radius: 15px;
}

#privacy {
  color: @foreground;
  background: @background;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}

/* Tooltips */
tooltip {
  background: @background;

  padding: 20px;
  margin: 0px;
  border-radius: 10px;
  border: 3px solid @accent;
}

tooltip label {
  color: @foreground;
}

/* Keyboard state */
#keyboard-state {
  color: @foreground;
  background: @background;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}

/* Audio */
#pulseaudio {
  color: @foreground;
  background: @background;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}

#pulseaudio.muted {
  color: @color0;
  background-color: @color3;
}

/* Screenbrightness */
#backlight {
  color: @foreground;
  background: @background;

  margin: 5px;
  padding: 0px 12px;
  border-radius: 15px;
}

/* Custom power menu */
#battery {
  color: @foreground;
  background-color: @background;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}

#battery.warning {
  color: @background;
  background-color: @color3;
}

#battery.critical {
  background-color: @color1;
}

@keyframes blink {
  to {
    background-color: @background;
    color: @foreground;
  }
}

#battery.charging,
#battery.plugged {
  color: @accent;
  background-color: @background;
}

#battery.critical:not(.charging) {
  background-color: @color1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#idle_inhibitor {
  color: @foreground;
  background: @background;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}

#idle_inhibitor.activated {
  color: @accent;
  background: @background;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}

#custom-power_profile_module {
  color: @foreground;
  background: @background;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}

#custom-power_profile_module.performance {
  color: @color1;
  background: @background;
}

#custom-power_profile_module.balaned {
  color: @foreground;
  background: @background;
}

#custom-power_profile_module.power-saver {
  color: @accent;
  background: @background;
}

/* Custom system stats module */
#custom-system,
#cpu,
#temperature,
#memory {
  color: @foreground;
  background: @background;

  padding: 0px 12px;
  margin: 5px 0px;
}

#custom-system {
  border-radius: 15px;
  margin: 5px;
}

#cpu {
  margin-left: 5px;
  border-radius: 15px 0px 0px 15px;
}

#temperature.critical {
  color: @color1;
  background-color: @background;
}

#memory {
  margin-right: 5px;
  border-radius: 0px 15px 15px 0px;
}

/* Tray */
#tray {
  background: @background;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color1;
}

/* Notifications */
#custom-notification {
  color: @background;
  background-color: @color2;

  font-size: 20px;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}

#custom-notification.notification,
#custom-notification.dnd-notification,
#custom-notification.inhibited-notification,
#custom-notification.dnd-inhibited-notification {
  background-color: @color3;
}

/* Exit */
#custom-exit {
  color: @foreground;
  background-color: @background;

  font-size: 20px;

  padding: 0px 12px;
  margin: 5px;
  border-radius: 15px;
}
