name: Update Flake

on:
  workflow_dispatch:
  schedule:
    - cron: "0 22 */2 * *" # every other day at 22:00

jobs:
  update-flake:
    name: Update Flake
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: false

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 5G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: never

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v27
        id: update
        with:
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          commit-msg: "flake.lock: update"
          pr-title: "flake.lock: update"
          pr-labels: |
            dependencies
            automated

      - name: Auto merge
        run: |
          if [ -n "${{ steps.update.outputs.pull-request-number }}" ]; then
            gh pr merge --auto --rebase ${{ steps.update.outputs.pull-request-number }}
          fi
        env:
          GH_TOKEN: ${{ github.token }}
