name: Update Topology

on:
  schedule:
    - cron: "0 0 * * 5" # Weekly on Friday at 00:00
  workflow_dispatch:

jobs:
  update-topology:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Nix store
        uses: nix-community/cache-nix-action@v7
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 5G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: never

      - name: Build Topology
        run: nix build .#topology.x86_64-linux.config.output

      - name: Generate WebP
        run: nix run nixpkgs#librsvg -- -o .github/assets/topology.webp ./result/main.svg

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          commit-message: "assets: update topology image"
          title: "assets: update topology image"
          body: "This PR updates the network topology image generated from the latest Nix configuration."
          branch: "update-topology"
          delete-branch: true
          labels: |
            automated
